.dark-mode {
    .contact-form .form-group label {
        font-size: 16px;
        color: #fff;
    }
}

.dark-mode .side-bar {
    background-color: #0e141f;
    border-right: 1px solid #6fd2ff;
}

.dark-mode .side-bar .features-item a{
    color: #787878;
}


.dark-mode .breadcrumbs,
.dark-mode .blog-container, 
.dark-mode .slide-one-right,
.dark-mode header,
.dark-mode .container,
.dark-mode .expense-info-top,
.dark-mode .expense-info-body-left-theader,
.dark-mode .expense-info-body-left-tbody,
.dark-mode .expense-info-body-right-top{
    background-color: #0e141f;
}

.dark-mode .breadcrumbs.breadcrumbs--two li a.breadcrumb,
.dark-mode .menu-slide-items .menu-item i,
.dark-mode .info-sub-title,
.dark-mode .list-category-blog a,
.dark-mode .breadcrumbs.breadcrumbs--two li .breadcrumb [itemprop="name"] {
    color: #ffffff;
}
.dark-mode .navbar-left .menu-item span,
.dark-mode .navbar-right .menu-item span,
.dark-mode .blog-content h3{
    color: #343435;
}

.dark-mode header {
    border-bottom: 1px solid #6fd2ff;
}

.dark-mode .breadcrumbs,
.dark-mode .blog-container,
.dark-mode .expense-info-top,
.dark-mode .expense-info-body-left-theader,
.dark-mode .expense-info-body-left-tbody,
.dark-mode .expense-info-body-right-top{
    border: 1px solid #6fd2ff;
}

.dark-mode .navbar-left .menu-item,.dark-mode .navbar-right .menu-item{
    background-color: #fff;
}