/*------ Variables ------*/
:root {
    --base-shade-1: #00a8fa;
    --white-shade-1: #ffffff;
    --white-shade-2: #d7e1f3;
    --black-shade-1: #232323;
    --black-shade-2: #676a8b;
    --grad-color-1: 0, 180, 250;
    --grad-color-2: 21, 120, 255;

    --base-font-size: 1.6rem;

    --heading-font-size-1: 4rem;
    --heading-font-size-2: 3.2rem;
    --heading-font-size-3: 2rem;
    --heading-font-size-4: 1.8rem;

    --border-radius-1: 1rem;
    --border-radius-2: 0.5rem;
}
/*------ Base Styles ------*/
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:not(i) {
    font-family: "Poppins", sans-serif;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/*------ Utility Classes ------*/

section,
footer {
    padding: 3rem 5rem;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}
.column {
    width: 100%;
}
.section-desc {
    text-align: center;
    margin: 2rem 0 6rem 0;
}
h1 {
    font-size: var(--heading-font-size-1);
    color: var(--black-shade-1);
    margin-bottom: 2rem;
    word-spacing: 1rem;
    line-height: 1.6;
}
h2 {
    font-size: var(--heading-font-size-2);
    color: var(--black-shade-1);
    font-weight: 700;
    text-align: center;
}
h3 {
    font-size: var(--heading-font-size-3);
    color: var(--black-shade-1);
    font-weight: 700;
    margin: 1.5rem 0;
    text-align: center;
}
h4 {
    font-size: var(--heading-font-size-4);
    color: var(--black-shade-2);
    margin: 1.5rem 0;
}
p,
button {
    font-size: var(--base-font-size);
    color: var(--black-shade-2);
    line-height: 1.8;
    font-weight: 400;
}
.btn {
    background-color: transparent;
    padding: 1rem 2rem;
    border-radius: var(--border-radius-2);
    border: none;
    margin: 2rem 0;
}
.primary-btn {
    background-color: var(--base-shade-1);
    color: var(--white-shade-1);
}
.secondary-btn {
    border: 0.3rem solid var(--base-shade-1);
    color: var(--base-shade-1);
}

/*------ Header ------*/
header {
    position: fixed;
    width: 100%;
    padding: 1.5rem 5rem;
}

.header-aside-list{
    display: flex;
    gap: 10px;
}
.header-aside-list a{
    text-decoration: none;
    font-size: 13px;
    color: #03a9f4;
}
.header-aside-list a.btn-login{
    padding: 2px 10px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.header-aside-list i{
    font-size: 13px;
    color: #03a9f4;
}


.header-aside-list a:hover{
    color: #03a9f4;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}
header nav a {
    font-size: var(--heading-font-size-4);
    text-decoration: none;
}
header nav a#logo {
    color: var(--black-shade-1);
    font-weight: 700;
}
header nav ul a {
    color: var(--white-shade-1);
    font-size: 16px;
}

/*-- SideMenu --*/
#ham-menu {
    display: none;
}
nav ul.active {
    left: 0;
}
/*-- Sticky Header --*/
.sticky {
    background-color: var(--white-shade-1);
    box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.05);
    z-index: 3;
}
.sticky nav ul a,
.sticky nav a#logo,
.sticky #ham-menu {
    color: var(--black-shade-1);
}
/*-- Link Hover Effect --*/
nav ul a:hover {
    color: var(--black-shade-1);
}
.sticky nav ul a:hover {
    color: var(--base-shade-1);
}

.header-aside{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 25px;
}
/*------ Section: Hero ------*/
section.hero {
    display: grid;
    grid-template-columns: 5fr 7fr;
    align-items: center;
}
#header-shape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero-content p {
    text-align: justify;
}
.hero-img img {
    display: block;
    width: 100%;
}
.btn-container {
    display: flex;
    gap: 3rem;
}
/*------ Section: Features ------*/
.features .row {
    align-items: stretch;
}
.features .column {
    padding: 6rem 2rem;
    border-radius: var(--border-radius-1);
}
.features .column p {
    text-align: center;
}
.features h3 {
    margin: 3rem 0;
}

.features .column:hover {
    background-color: var(--base-shade-1);
}
.features .column:hover h3 {
    color: var(--white-shade-1);
}
.features .column:hover p {
    color: var(--white-shade-2);
}
.features .column:hover i {
    background-color: var(--white-shade-1);
    color: var(--base-shade-1);
}
/*------ Section: Courses ------*/
.courses .row {
    align-items: stretch;
}
.courses .column {
    box-shadow: 0 0.5rem 2.4rem 0.6rem rgba(0, 0, 0, 0.06);
    border-radius: var(--border-radius-1);
    display: flex;
    flex-direction: column;
}
.courses .column > *:not(img) {
    padding: 0 2rem;
}
.courses .column img {
    border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
    width: 100%;
}
.courses .column p {
    text-align: center;
    flex-grow: 1;
}
.courses-btn {
    display: flex;
    justify-content: center;
}
.courses-btn .btn:hover {
    color: var(--white-shade-1);
    background-color: var(--base-shade-1);
}
/*------ Section: Testimonials ------*/
.testimonial {
    background-image: linear-gradient(45deg, rgb(80 197 244 / 80%), rgb(80 138 216 / 80%)), url(../assets/images/background-choose.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.testimonial h2,
.testimonial .section-desc {
    color: var(--white-shade-1);
}
.testimonial .row {
    align-items: stretch;
}
.testimonial .column {
    background-color: var(--white-shade-1);
    padding: 4rem 3rem;
    text-align: center;
    border-radius: var(--border-radius-1);
    display: flex;
    flex-direction: column;
}
.testimonial-image {
    height: 14rem;
    width: 14rem;
    margin: auto;
    padding: 0.9rem;
    background: linear-gradient(
    var(--white-shade-1) 50%,
    var(--base-shade-1) 50%
    );
    border-radius: 50%;
}
.testimonial-image img {
    width: 100%;
    border-radius: 50%;
}
.testimonial .column p {
    margin: 4rem 0;
    flex-grow: 1;
}
/*------ Section: Download App ------*/
.download-app .column:nth-child(1) {
    display: flex;
    justify-content: center;
}
.download-app .column:nth-child(2) {
    padding: 0 2rem;
}
.download-app img {
    display: block;
    width: 45%;
}
.app-feature {
    border-bottom: 1.5px dashed rgba(var(--grad-color-1), 0.4);
}
.app-feature:not(:last-child) {
    margin-bottom: 1.5rem;
}
.app-feature div {
    display: flex;
    gap: 2rem;
}
.app-feature p {
    margin-bottom: 1.5rem;
}
.download-app .fas {
    display: inline-block;
    background-color: var(--white-shade-2);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem;
    color: var(--base-shade-1);
}
.download-app h3 {
    display: inline-block;
}
.download-btns {
    display: flex;
}
.download-btns a {
    display: inline;
    text-align: center;
}
.download-btns a img {
    display: inline-block;
    width: 70%;
}
/*------ Section: Footer ------*/
footer {
    background-color: var(--black-shade-1);
}
footer h3 {
    margin: 0;
}
footer h3,
footer h4 {
    color: var(--white-shade-1);
    text-align: center;
}
footer .row {
    margin-bottom: 6rem;
}
.footer-about {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid var(--white-shade-1);
}
.social-links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.social-links a {
    font-size: 3rem;
    text-decoration: none;
    color: var(--white-shade-1);
}
footer p {
    text-align: center;
}

/*------ Scroll Top Button ------*/
#scroll-top {
    position: fixed;
    display: none;
    place-items: center;
    height: 5rem;
    width: 5rem;
    right: 3rem;
    bottom: 3rem;
    background-color: var(--base-shade-1);
    color: var(--white-shade-1);
    border: none;
    outline: none;
    font-size: var(--heading-font-size-3);
    border-radius: var(--border-radius-2);
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}

/*------ Section: services ------*/


section.features{
    background: aliceblue;
}
.row-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px 20px;
    padding: 20px 0px;
}



.service{
    position: relative;
    width: 23.5%;
}
.services{
    width: 100%;
    height: auto;
    min-height: 357px;
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    z-index: 2;
}

.service-logo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 20px;
    margin: -2px auto 0;
    background-color: #fff;
    border: 12px solid #eaf7ff;
}
.service-logo i{
    font-size: 32px;
}

.service-content{
    width: 100%;
    margin: 20px 0 10px 0;
}
.service-content h3{
    width: 100%;
    text-align: center;
    color: #ff5151;
}

.service-content p{
    font-size: 15px;
    text-align: justify;
}

.service-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.service-text p{
    font-size: 16px;
}
.service-text p i{
    font-size: 16px;
    color: #1fe239;
}

.services h4{
    width: 80%;
    height: 30px;
    background: #fff;
    margin: 20px auto;
    position: relative;
    text-align: center;
    color: #fd290a;
    text-transform: uppercase;
}

.services h4::after{
    position: absolute;
    content:"";
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #fff, #007bff);
    right: -5px;
    top: -5px;
    z-index: -1;
}
.services h4::before{
    position: absolute;
    content:"";
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #fff, #007bff);
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.service .shadowOne{
    height: 200px;
    width: 80%;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: 3%;
    left: 10%;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.service .shadowTwo{
    height: 200px;
    width: 64%;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.service:hover .services{
    transform: translateY(-23px);
    cursor: pointer;
}

.form-style {
  margin:10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style .required{
  color:red;
}
.form-style input[type=submit], .form-style input[type=reset]{
  background: #4eb5f1;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
  background: #4eb5f1;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style .field-textarea{
  height: 100px;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
}
.form-style .long{
  width: 100%;
}
.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style textarea:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
}

.slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;

}

.slider-home{
    overflow: hidden;
    max-width: 1300px;
    margin: 0 70px 55px;
}

.card-home .card-home-item {
    color: #fff;
    background: rgba(255, 255, 255, 0.4);
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 35px;
    border-radius: 8px;
}

.slider-container  .swiper-button-next,.slider-container .swiper-button-prev,.slider-container .swiper-pagination-bullet{
    color: #fff;
}

.card-home .card-home-item .user-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #fff;
    padding: 4px;
}

.card-home .card-home-item .user-profession{
    font-size: 1.6rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 10px 0 20px;
}

.card-home .card-home-item .message-btn{
    font-size: 1.6rem;
    padding: 10px 25px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid transparent;
}

.card-home .card-home-item .message-btn:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    color: #fff;
}

 .table-wrapper {
    width: 100%;
    width: calc(100% - 128px);
    max-width: 1232px;
    height: auto;
    overflow: auto;
    margin: 4px auto 0;
    margin-top: -12px;
    z-index: 100;
    /*&::-webkit-scrollbar { 
    display: none; 
    }*/
}
@media screen and (max-width: 1360px) {
    .table-wrapper {
    width: 100%;
    max-width: calc(100% - 32px);
    margin: 4px auto 0;
    }
}
.pricing-section {
    text-align: center;
    padding: 50px 20px;
}

.pricing-section h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.pricing-section p {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #bbb;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.pricing-card h2 {
    color: #bbb;
    font-size: 2.2rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.standard h2,.standard p,.standard .price sub{
    color: #fff;
}


.pricing-card ul {
    list-style: none;
    padding: 0;
    margin: 5px 0;
}

.pricing-card ul li {
    margin-top: 5px;
    font-size: 14px;
    text-align: justify;
    display: flex;
    gap: 5px;
}

.pricing-success{
    min-width: 7%;
    width: 20px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: aquamarine;
    border-radius: 50%;
}
.trigger{
    padding: 2px 20px;
    font-size: 14px;
    color: #fff;
    background: #69efee;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
}


.pricing-success i{
    font-size: 14px;
    color: #fff;
}

.pricing-card button {
    background-color: #fff;
    color: #706e6e;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

.standard .features li{
  color: #fff;
  font-size: 13px;
}

.pricing-card button:hover {
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    color: #fff;
    transition: transform 0.3s ease;
}

.standard {
    background: linear-gradient(145deg, #4eb5f1, #bddbec);
    transform: scale(1.1);
}

.pricing-card {
    background-color: #ffffff;
    width: 320px;
    max-height: 73vh;
    border-radius: 12px;
    box-shadow: rgb(85 241 252 / 25%) 0px 54px 55px, rgb(119 244 245 / 12%) 0px -12px 30px, rgb(39 250 170 / 12%) 0px 4px 6px, rgb(31 227 32 / 17%) 0px 12px 13px, rgb(120 230 245 / 9%) 0px -3px 5px;
    overflow: hidden;
    padding:20px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border: 1px solid #d7d6d6;
    padding: 5px;
    border-radius: 5px;
}

.tab {
    background-color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.tab.active {
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    color: #fff;
}

.price-info {
    margin-bottom: 20px;
}

.price {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.price sub {
    font-size: 16px;
    color: #777;
}

.description {
    font-size: 14px;
    color: #777;
}

.features {
    list-style-type: none;
    margin-bottom: 20px;
}

.features li {
    font-size: 14px;
    color: #333;
}

.choose-plan-btn {
    background-color: #7a57d1;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.choose-plan-btn:hover {
    background-color: #6a4bb7;
}

.table{
    position: relative;
}

.table .ribbon{
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}
.table .ribbon::before,
.table .ribbon::after{
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 7px solid #ec2323;
  border-top-color: transparent;
  border-left-color: transparent;
}
.table .ribbon::before{
    top: 0px;
    right: 27px;
}
.table .ribbon::after{
    bottom: 27px;
    left: 0px;
}
.table .ribbon span {
    position: absolute;
    top: 30px;
    right: 0;
    transform: rotate(-45deg);
    width: 200px;
    background: #ec2323;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

