@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.webHome{
   width: 100%;
   height: auto;
   position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 0    10px 0;
}

.header-aside, .header-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-aside{
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header-aside-list{
    display: flex;
    gap: 10px;
}
.header-aside-list a{
    text-decoration: none;
    font-size: 14px;
    color: #000;
}
.header-aside-list i{
    font-size: 13px;
    color: #03a9f4;
}

.header-aside-list a{
    color: #03a9f4;
}

.header-aside-list a:hover{
    color: #066bc9;
}

.header-aside-list a:hover i{
    color: #066bc9;
}


.header-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-home nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}
.header-home nav ul li{
    list-style: none;
}

.header-home nav ul li a.item.active{
    background-color: #f3a949;
    color: #fff;
}

.header-home nav ul li a.item{
    text-decoration: none;
    padding: 5px 20px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
}
.header-home nav ul li a.get-start{
    text-decoration: none;
    padding: 5px 50px;
    cursor: pointer;
    color: #fff;
    background-color: #6ac4ff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
}
.header-home nav ul li a.item:hover{
    background-color: #6ac4ff;
    color: #fff;
}
.header-home nav ul li a.get-start:hover{
    text-decoration: none;
    padding: 5px 80px;
    cursor: pointer;
    color: #fff;
    background-color: #31aafc;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
}


.container {
    position: relative;
    margin-top: 91px;
    height: calc(100vh - 91px);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.container .page-left{
    width: 50%;
    height: 100%;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
}
.container .page-right{
    width: 50%;
    height: 100%;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
}

.controll{
    position: absolute;
    width: 99%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controll .controll-page{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.controll .controll-page button{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    border: none;
    z-index: 100;
}

.controll .controll-page button:hover{
    background-color: #6ac4ff;
    color: #fff;
}

.slidershow{
    width: 100%;
    height: 86vh;
    overflow: hidden;
}
.middle{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 10;
}


input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
    background-color: rgba(0, 0, 0, 0.70);
}
.slide img{
    width: 100%;
    height: 100%;
}


.banner{
    position: relative;
    overflow: hidden;
}  

.slides::before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    background-color: rgb(4 33 77 / 70%);
}

.patern-layer-one {
    position: absolute;
    left: 0px;
    top: -32px;
    width: inherit;
    height: 316px;
    z-index: 1;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    background-image: url(../assets/images/pattern-1.png);
}

.patern-layer-two {
    position: absolute;
    right: 0px;
    bottom: -32px;
    transform: rotate(-180deg);
    width: inherit;
    height: 316px;
    z-index: 1;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    background-image: url(../assets/images/pattern-1.png);
}



.patern-layer-content{
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.patern-layer-content h1{
    font-size: 85px;
    font-weight: 500;
    line-height: 130px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../assets/images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    text-align: center;
}

.patern-layer-UpSkillHub{
    padding: 20px 50px;
    text-align: justify;
}

.btn-more-here {
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.wavy{
    margin-bottom: 30px;
    position: relative;
    -webkit-box-reflect: below -23px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    text-align: center;
}

.wavy span{
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    animation: animation 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes  animation{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}

.btn-more{
    position: relative;
    padding: 12px 50px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
}


.btn-more:hover{
    background: linear-gradient(90deg,#08ff08, #50e3fc, #bc13fe, #03a9f4, #0ff0fc);
    background-size: 500%;
    animation: blink 7s linear infinite;
}

.btn-more:hover::after{
    content: "";
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    background: inherit;
    border-radius: 10px;
    filter: blur(50px);
}

.btn-dashboard{
    position: relative;
    padding: 12px 50px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
}


.btn-dashboard:hover{
    background: linear-gradient(90deg,#08ff08, #50e3fc, #bc13fe, #03a9f4, #0ff0fc);
    background-size: 500%;
    animation: blink 7s linear infinite;
}

.btn-dashboard:hover::after{
    content: "";
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    background: inherit;
    border-radius: 10px;
    filter: blur(50px);
}


@keyframes blink{
    from{
        background-position: 0%;
    }
    to{
        background-position: 500%;
    }
}


@keyframes  back{
    100%{
        background-position: 2000px 0;
    }
}

/* Thumbnail Section  */
.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 27%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 150px;
    height: 160px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}


/* nextPrevArrows Section  */
.nextPrevArrows{
    position: absolute;
    top: 80%;
    right: 55%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.nextPrevArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #14ff72cb;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.nextPrevArrows button:hover{
    background-color: #fff;
    color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1){
    z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1s !important;
}




/* Animation for next button click */
.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 100;
}


@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content .title{
        font-size: 50px;
    }
}


.page-left-item{
    width: 100%;
    height: 100%;
}
.page-right-item{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 88vh;
}
.column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
}
.card {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    background: linear-gradient(#ffffff 50%, #3acefc 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
}
.card h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 10px 0;
}
.card p {
    color: #575a7b;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: justify;
}
.icon-wrapper {
    background-color: #3acefc;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 1.5em;
    width: 1.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
.card:hover {
    background-position: 0 100%;
}
.card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #3acefc;
}
.card:hover h3 {
    color: #ffffff;
}
.card:hover p {
    color: #f0f0f0;
}
@media screen and (min-width: 768px) {
    .column {
    flex: 0 50%;
    max-width: 50%;
    }
}
@media screen and (min-width: 992px) {
    .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    }
}

.page-left-two{
    width: 100%;
    height: 100%;
}

.page-left-two .row-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
}

#about-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.about-left img{
    width: 420px;
    height: auto;
    transform: translateY(50px);
}
.about-right {
    width: 100%;
}

.about-right ul li {
    display: flex;
    align-items: center;
}

.about-right h1 {
    color: #e74d06;
    font-size: 37px;
    margin-bottom: 5px;
}

.about-right p {
    color: #444;
    line-height: 26px;
    font-size: 15px;
}

.about-right .address {
    margin: 25px 0;
}

.about-right .address ul li {
    margin-bottom: 5px;
}

.address .address-logo {
    margin-right: 15px;
    color: #e74d06;
}

.address .saprater {
    margin: 0 5px;
}

.about-right .expertise ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.expertise h3 {
    margin-bottom: 10px;
}

.expertise .expertise-logo {
    font-size: 19px;
    margin-right: 10px;
    color: #e74d06;
}

.page-left-item,.page-right-item{
    display: none;
}

.page-left-item.activeItem,.page-right-item.activeItem{
    display: block;
}

.wrapper-item {
    width: 100%;
    min-width: 570px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.container-item{
    width: 100%;
    padding: 20px;
    background-color: white;
    border: 2px solid rgba(255,255,255,0.06);
    border-radius: 10px;
    backdrop-filter: blur(10px);
} 
.container-item *{
    font-family: "Poppins",sans-serif;
    color: #ff5151;
    font-size: 15px;
}
h2{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}
.skills:not(:last-child){
    margin-bottom: 6px;
}
.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
}

.container-item h3{
    margin-bottom: 10px;
    background-color: #31aafc;
    color: #fff;
    padding: 5px 10px;
}
.bar{
    position: relative;
    border: 1px solid #31aafc;
    border-radius: 20px;
  
}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #31aafc;
   
 
}
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 90%;
    }
}
#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 75%;
    }
}
@keyframes css-fill{
    100%{
        width: 85%;
    }
}
#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 72%;
    }
}
#react-bar{
    animation: react-fill 2s forwards;
}
@keyframes react-fill{
    100%{
        width: 68%;
    }
}
#jQuery-bar{
    animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill{
    100%{
        width: 70%;
    }
} 

.row-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 86vh;
    gap: 1px 16px;
    padding: 10px;
}



.service{
    position: relative;
    width: 32%;
}
.services{
    width: 100%;
    height: 350px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    z-index: 2;
}

.service-logo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 20px;
    margin: -2px auto 0;
    background-color: #fff;
    border: 12px solid #eaf7ff;
}
.service-logo i{
    font-size: 32px;
}

.service-content{
    width: 100%;
    margin: 20px 0 10px 0;
}
.service-content h3{
    width: 100%;
    text-align: center;
    color: #ff5151;
}

.service-content p{
    font-size: 13px;
    text-align: justify;
}

.service-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.service-text p{
    font-size: 15px;
}
.service-text p i{
    font-size: 15px;
    color: #1fe239;
}

.services h4{
    width: 80%;
    height: 26px;
    background: #fff;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.services h4::after{
    position: absolute;
    content:"";
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #fff, #007bff);
    right: -5px;
    top: -5px;
    z-index: -1;
}
.services h4::before{
    position: absolute;
    content:"";
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #fff, #007bff);
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.service .shadowOne{
    height: 200px;
    width: 80%;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: 3%;
    left: 10%;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.service .shadowTwo{
    height: 200px;
    width: 64%;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.service:hover .services{
    transform: translateY(-23px);
    cursor: pointer;
}

.form-style {
  margin:10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style .required{
  color:red;
}
.form-style input[type=submit], .form-style input[type=reset]{
  background: #4eb5f1;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
  background: #4eb5f1;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style .field-textarea{
  height: 100px;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
}
.form-style .long{
  width: 100%;
}
.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style textarea:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
}


.row-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
}

.row-contact h3{
    text-align: center;
    font-size: 30px;
    color: #4eb5f1;
}

.row-contact form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-contact{
    width: 80%;
}
.form-contact-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-contact-input input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}


.form-contact-group{
    display: flex;
    align-items: center;
    gap: 20px;
}
.form-contact-input textarea{
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    min-height: 198px;
}

.form-contact-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-contact-button button{
    padding: 8px 30px;
    margin-top: 20px;
    background-color: #31aafc;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.form-contact-top{
    padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-contact-top h4{
    margin-top: 10px;
}

.form-contac-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 5px;
    border-radius: 10px;
}
.form-contac-text p{
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-contac-text p i{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31aafc;
    border-radius: 50%;
    color: #fff;
}

.form-contact-send{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    border-radius: 10px;
}

.form-contact-send a{
    text-decoration: none;
}

.form-contact-send a i{
    height: 35px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #78c7fc;
    color: #fff;
    border-radius: 5px;
}
.page-product{
    width: 100%;
    height: 86vh;
}
.page-product-list{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    position: relative;
}

.page-product-item{
    width: 32%;
    height: 250px;
    cursor: pointer;
}
.page-product-image{
    width: 100%;
    height: 100%;
}

.page-product-image img{
    width: 100%;
}


.banner-part-left{
    width: 100%;
    height: 100%;
}

.banner-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 86vh;
}

.banner-part-left .banner-part-image{
    width: 100%;
    height: 300px;
}

.banner-part-left .banner-part-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icon-check{
    color: #1fe239;
}

.icon-check i{
    font-size: 30px;
}

.icon-check-error{
    color: #f51111;
}

.icon-check-error i{
    font-size: 30px;
}


.table-wrapper {
    width: 100%;
    height: 86vh;
    overflow: auto;
}
@media screen and (max-width: 1360px) {
    .table-wrapper {
        width: 100%;
        max-width: calc(100% - 32px);
        margin: 4px auto 0;
    }
}
.table-wrapper table {
    position: relative;
    border: none;
    margin: 32px auto 64px;
    border-collapse: collapse;
}
.table-wrapper table thead tr {
    border-bottom: 1px solid #bbcbf2;
}
.table-wrapper table thead tr th {
    background-color: #FDFFFC;
    cursor: pointer;
    color: #13223F;
    white-space: nowrap;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    text-align: center;
    min-width: 92px;
    padding: 48px 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 2;
    transition: border 0.15s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media screen and (max-width: 1360px) {
    .table-wrapper table thead tr th {
    min-width: 64px;
    }
}
.table-wrapper table thead tr th p {
    margin: 8px auto;
    transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 2;
}
.table-wrapper table thead tr th span {
    clear: left;
    background-color: rgba(187, 203, 242, 0.45);
    position: relative;
    display: inline-block;
    color: #13223F;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    border-radius: 8px;
    overflow: hidden;
    margin: 3px auto;
    padding: 1px 10px;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0.85;
    transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 2;
}
.table-wrapper table thead tr th:first-of-type {
    left: 0;
    z-index: 3;
}
.table-wrapper table thead tr th:first-of-type::after {
    display: none !important;
}
.table-wrapper table thead tr th::after {
    background-color: #65c8f7;
    content: "+";
    color: #FFFFFF;
    position: absolute;
    display: block;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    left: calc(50% - 12px);
    top: calc(100% - 12px);
    line-height: 24px;
    text-align: center;
    transition: all 0.15s ease-in-out;
    z-index: 1;
}
.table-wrapper table thead tr th::before {
    background-color: #FFFFFF;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.table-wrapper table thead tr th.active {
    border-bottom: 1px solid #13223F;
}
.table-wrapper table thead tr th.active::after {
    transform: rotate(-45deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.table-wrapper table thead tr th.active::before {
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.table-wrapper table tbody {
    border-bottom: 1px solid #bbcbf2;
}
.table-wrapper table tbody tr {
    border-top: 1px solid rgba(187, 203, 242, 0.45);
    transition: height 0.15s ease-in-out;
}
.table-wrapper table tbody tr td {
    white-space: nowrap;
    padding: 20px;
    text-align: center;
    transition: height 0.15s ease-in-out;
}
.table-wrapper table tbody tr td img {
    position: relative;
    display: block;
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    height: auto;
    margin: 6px auto;
    opacity: 0.65;
}
.table-wrapper table tbody tr td img.close {
    filter: grayscale(100%);
}
.table-wrapper table tbody tr td p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 900;
    padding-bottom: 0;
    margin-bottom: 0;
}
.table-wrapper table tbody tr td span {
    white-space: initial;
    position: relative;
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    margin-top: 0;
}
.table-wrapper table tbody tr td:first-of-type {
    background-color: #FFFFFF;
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    text-align: left;
    font-size: 15px;
    line-height: 23px;
    z-index: 2;
}
.table-wrapper table tbody tr td:first-of-type p {
    padding: 0;
    margin: 0;
    font-weight: 300;
}
.table-wrapper table tbody tr td:first-of-type p strong {
    font-weight: 700;
}
.table-wrapper table tbody tr td:nth-child(even) {
    background: rgba(187, 203, 242, 0.15);
}
.table-wrapper table tbody tr td.active span {
    white-space: initial;
    width: inherit;
    height: inherit;
    max-width: 248px;
    font-size: 13px;
    line-height: 21px;
    font-weight: 300;
    padding: 0 24px;
}

.popup-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.popup-content {
    max-width: 80%;
    max-height: 80%;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}   

.ModelCreateLogin {
    padding: 10px;
    position: absolute;
    width: 100%;
    max-width: 15%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 5px;
    z-index: 100;
}

#showLearnMore{
    display: none;
}

#CreateRegister{
    display: none;
}
.modal {
    /* display: none; */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}



.BtnCloseCreate{
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    background: red;
    color: #fff;
    height: 31px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    text-align: center;
}

.form-input-category{
    width: 100%;
    margin-top: 10px;
}

.form-input-category .input-name {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #7dc7f8;
    outline: none;
    border-radius: 5px;
}

.mt-5{
    margin-top: 5px;
}

#contentForm h2 {
    margin-bottom: 10px;
    font-size: 23px;
}

.form-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10px 0;
}


.form-btn button{
    padding: 5px 30px;
    cursor: pointer;
    color: #fff;
    background-color: #31aafc;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    border: #03a9f4;
}

.form-input-category a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

#CreateLogin{
    display: none;
}

.ModelCreateRegister{
    padding: 10px;
    position: absolute;
    width: 100%;
    max-width: 20%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 5px;
    z-index: 100;
}


#popup-category {
    display: none;
}


.popup-category {
    width: 30%;
    position: fixed;
    top: 20px;
    left: 38%;
    padding: 10px 30px;
    border-radius: 5px;
    z-index: 9999;
}

.popup-category.success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

.popup-category.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}
 

.input-error{
    color: red;
}