

@media screen and (max-width: 1600px){
    .card h1 {
        font-size: 14px !important;
        margin: 14px !important;
    }
    .card {
        min-height: 120px !important;
    }
    .ideaUser {
        height: 293px !important;
    }
    .chart-one {
        max-height: 288px !important;
    }
    .chart1 {
        min-height: 250px !important;
    }
    .chart2 {
        min-height: 315px !important;
    }
    .dashboard-content {
        width: 100%;
        height: 92.5% !important;
    }
    .content-idea-user {
        width: 100%;
        height: 235px !important;
    }
    .UserContainer {
        height: 82vh !important;
    }
    td, th{
        font-size: 12px !important;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .containerPage {
        height: 81vh !important;
    }

    .select-dropdown {
        padding: 6px !important;
    }
    .formInputSearch input {
        font-size: 12px !important;
    }
    .add-search {
        padding: 6px 11px !important;
    }
    .todoHeader {
        padding: 12px !important;
    }
    .commentBody {
        width: 100%;
        height: 25vh !important;
    }
    .col-8,.col-4{
        height: 99% !important;
    }

    .issueHeader-footer ul li {
        padding: 5px 13px !important;
    }
    .container-comment {
        margin-top: 10px !important;
    }
    .priorityYes,.assignUser,.priorityImportant,.linkBlank,.StatusInpross{
        font-size: 11px !important;
    }
    .issueHeader{
        height: 87vh !important;
        width: 100%;
    }
    .projecTodoBody {
        height: 90vh !important;
        width: 100%;
        background: #ffffff;
    }
    .board {
        width: 100%;
        height: 90vh;
    }
    .infoControllerRightInfo {
        width: 100%;
        height: 68% !important;
    }
    .infoControllerMenu .infoControllerMenuList button {
        padding: 9px 25px !important;
        font-size: 13px !important;
        border: 1px solid #d7d6d6 !important;
    }
    .chat-container-one {
        height: 89.5vh !important;
    }
    .chat-container-one .contact-list {
        width: 30% !important;
        background: #fff !important;
    }
    .post-info {
        height: 90vh !important;
        overflow: unset ;
    }
    .chat-center{
        height: 100% !important;
        overflow: scroll !important;
    }
    .chat-messages {
        height: 70vh !important;
    }
    .tabcontent {
        height: 82vh !important;
        overflow: overlay;
    }
    .jobsalary  .tabcontent {
        height: 64vh !important;
        overflow: overlay;
    }
    .InformationLeftCard{
        padding:19px 10px !important;
    }
    .infoControllerRightUser{
        margin-bottom: 5px !important;
    }
    .infoControllerRightInfo {
        width: 100%;
        height: 69.5% !important;
    }
    .post-info,.UserContainer{
        height: 81vh !important;
    }
    ul.navSidebar li a {
        font-size: 14px !important;
        font-weight: 300 !important;
    }
    .InformationLeftMenu a {
        padding: 10.1px !important;
    }
    .tablinks {
        padding: 10px !important;
    }
    .expense_normal {
        font-size: 11px !important;
    }
    .title-todo-bottom a {
        font-size: 13px !important;
    }
    .chat-left {
        height: 89vh !important;
    }
}

@media screen and (max-width: 1504px){
    .card {
        min-height: 150px !important;
    }
    .dashboard-content {
        width: 100%;
        height: 94% !important;
    }
    .card h1 {
        font-size: 14px !important;
        margin: 24px !important;
    }

    .chart-one {
        max-height: 340px !important;
    }
    .chart2 {
        min-height: 273px !important;
    }
    #chart-timeline,.apexchartsarea-datetime foreignObject{
        min-height: 400px !important;
    }
    .ideaUser {
        height: 295px !important;
    }
    .content-idea-user {
        height: 284px !important;
    }
    .chart1 {
        min-height: 265px !important;
    }
    .UserContainer {
        height: 84vh !important;
    }
    .col-8, .col-4 {
        height: 91vh !important;
    }
    .issueHeader-footer ul li {
        padding: 15px !important;
    }
    .tabcontent {
        height: 85vh !important;
    }
    .projecTodoBody {
        height: 92vh !important;
    }
    .containerPage {
        height: 84vh !important;
    }
    .textareaDescription {
        height: 368px !important;
    }
    .totalDate {
        width: 138px !important;
    }
    .japanese-container {
        height: 92vh !important;
    }
    .error-content-left {
        height: 83.5vh !important;
    }
    .error-content-right {
        width: 100%;
        height: 88vh !important;
    }
    .table-spend table tbody tr td:first-child {
        border-right: 1px solid #00000026;
        padding: 15px 10px;
    }
    .InformationLeftMenu a {
        padding: 15px 8px !important;
    }
    .InformationLeftCard {
        padding: 30px 10px !important;
    }
    .infoControllerRightInfo {
        height: 73.8% !important;
    }
    .chat-messages {
        height: 75vh !important;
    }
    #calendar {
        height: 91.5vh !important;
        border-radius: 5px !important;
    }
    .InformationLeftCard {
        padding: 27px 10px !important;
    }
    .commentBody {
        width: 100%;
        height: 29vh !important;
    }
    .InformationLeftMenu a {
        padding: 20px !important;
    }
    .post-info, .UserContainer {
        height: 84vh !important;
    }
    .commentSendPost {
        width: 93% !important;
    }
    .thinkUser {
        width: 93% !important;
    }
    .expense-container {
        height: 99.5% !important;
    }
    .salary-container {
        height: 90% !important;
    }
    .formTab {
        height: 98% !important;
    }
    .formGrammar p {
        font-size: 15px !important;
    }
}