@media screen and (max-width: 1600px){
    .card h1 {
        font-size: 14px !important;
        margin: 14px !important;
    }
    .card {
        min-height: 120px !important;
    }
    .ideaUser {
        height: 293px !important;
    }
    .chart-one {
        max-height: 288px !important;
    }
    .chart1 {
        min-height: 315px !important;
    }
    .chart2 {
        min-height: 315px !important;
    }
    .dashboard-content {
        width: 100%;
        height: 92.5% !important;
    }
    .content-idea-user {
        width: 100%;
        height: 235px !important;
    }
    .UserContainer {
        height: 82vh !important;
    }
    td, th{
        font-size: 13px !important;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .containerPage {
        height: 82vh !important;
    }

    .select-dropdown {
        padding: 6px !important;
    }
    .formInputSearch input {
        font-size: 12px !important;
    }
    .add-search {
        padding: 6px 11px !important;
    }
    .todoHeader {
        padding: 12px !important;
    }
    .commentBody {
        width: 100%;
        height: 25vh !important;
    }
    .col-8,.col-4{
        height: 99% !important;
    }

    .issueHeader-footer ul li {
        padding: 5px 13px !important;
    }
    .container-comment {
        margin-top: 10px !important;
    }
    .priorityYes,.assignUser,.priorityImportant,.linkBlank,.StatusInpross{
        font-size: 11px !important;
    }
    .issueHeader{
        height: 87vh !important;
        width: 100%;
    }
    .projecTodoBody {
        height: 90vh !important;
        width: 100%;
        background: #ffffff;
    }
    .board {
        width: 100%;
        height: 90vh;
    }
    .infoControllerRightInfo {
        width: 100%;
        height: 68% !important;
    }
    .infoControllerMenu .infoControllerMenuList button {
        padding: 9px 25px !important;
        font-size: 13px !important;
        border: 1px solid #d7d6d6 !important;
    }
    .chat-container-one {
        height: 89.5vh !important;
    }
    .chat-container-one .contact-list {
        width: 30% !important;
        background: #fff !important;
    }
    .post-info {
        height: 90vh !important;
        overflow: unset ;
    }
    .chat-center{
        height: 100% !important;
        overflow: scroll !important;
    }
}

@media screen and (max-width: 1504px){
    .card {
        min-height: 150px !important;
    }
    .dashboard-content {
        width: 100%;
        height: 94% !important;
    }
    .card h1 {
        font-size: 14px !important;
        margin: 24px !important;
    }
    #chart {
        min-height: 350px !important;
    }
    .chart-one {
        max-height: 340px !important;
    }
    .chart2 {
        min-height: 429px !important;
    }
    #chart-timeline,.apexchartsarea-datetime foreignObject{
        min-height: 400px !important;
    }
    .ideaUser {
        height: 348px !important;
    }
    .content-idea-user {
        height: 284px !important;
    }
    .chart1 {
        min-height: 429px !important;
    }
    .UserContainer {
        height: 84vh !important;
    }
    .col-8, .col-4 {
        height: 91vh !important;
    }
    .issueHeader-footer ul li {
        padding: 15px !important;
    }
    .tabcontent {
        height: 85vh !important;
    }
    .projecTodoBody {
        height: 92vh !important;
    }
    .containerPage {
        height: 84vh !important;
    }
    .textareaDescription {
        height: 368px !important;
    }
    .totalDate {
        width: 138px !important;
    }
    .japanese-container {
        height: 92vh !important;
    }
    .error-content-left {
        height: 85vh !important;
    }
    .error-content-right {
        width: 100%;
        height: 88vh !important;
    }
    .table-spend table tbody tr td:first-child {
        border-right: 1px solid #00000026;
        padding: 15px 10px;
    }
}