

@media only screen and (max-width: 1504px) {
    .app-feature p {
        font-size: 1.6rem !important;
        margin: 0 !important;
    }
    .app-feature div {
        padding: 7px 10px !important;
    }
    .menu-slide-items .menu-item {
        padding: 25px 5px !important;
    }
    .menu-slide-items {
        margin-bottom: 20px !important;
    }
    .pagination button {
        padding: 18px 0px !important;
    }
    .card {
        min-height: 338px !important;
    }
    .card-img {
        height: 228px !important;
    }
    .card .card-user-img img {
        width: 200px !important;
        height: 200px !important;
    }
    .path-container{
        height: 90vh !important;
    }
    .path-card-item {
        min-height: 326px !important;
        padding: 25px !important;
    }
    .pricing-table-box1 .item {
        margin: 37px 0 !important;
    }
    .pricing-table-box2 .item {
        margin: 37px 0 !important;
    }
    .pricing-table-box3 .item {
        margin: 37px 0 !important;
    }
    .pricing-table-box4 .item {
        margin: 37px 0 !important; 
    }
    .pricing-table .item {
        background-color: #ffffff;
        margin: 37px 0 !important;
    }

    .info-details li {
        margin-top: 38px !important;
    }
    .contact-form .form-group input, .contact-form .form-group textarea {
        padding: 13px !important;
        font-size: 16px !important;
    }
    .contact-form .form-group textarea {
        min-height: 336px !important;
    }
    .btn-web-develop {
        margin: 123px 0!important;
    }

    .calendar-left {
        width: 25% !important;
    }
    .calendar-right {
        width: 75% !important;
    }
    .calendar, .blog-container {
        min-height: 91vh !important;
    }
    .list-control p {
        padding: 30px 10px !important;
    }

    .main-article img {
        width: 100%;
        height: 65vh !important;
        object-fit: cover;
    }
    .list-blog {
        gap: 19px  !important;
    }
}

@media only screen and (max-width: 767px) {
   
}
